.contact-section {
  width: 100%;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.contact-container {
  width: 100%;
  max-width: 600px;
  padding: 2rem 2rem 0 2rem;
  margin-bottom: 1rem;
  background-color: var(--c-white);
}

.contact-title {
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1rem;
  display: inline-block;
  padding-bottom: 0.3rem;
  letter-spacing: 1px;
  color: var(--c-blk);
  font-family: "Typewriter", sans-serif;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input,
textarea,
select {
  width: 100%;
  font-size: 14px;
  padding: 8px 7px;
  font-family: inherit;
  outline: none;
  font-family: "Typewriter", sans-serif;
  transition: border 0.2s ease;
}

textarea {
  resize: none;
}

.custom-dropdown {
  position: relative;
    color: #838383;
  font-size: 14px;
  font-family: "Typewriter", sans-serif;
}

.dropdown-selected {
  border: 1px solid #767676;
  background-color: #fff;
  padding: 8px 32px 8px 10px;
  cursor: pointer;
  position: relative;
}

.dropdown-caret {
  position: absolute;
  top: 38%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}

.dropdown-options {
  width: 100%;
  list-style: none;
  background-color: var(--c-white);
  border: 1px solid #767676;
  border-top: none;
  position: absolute;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  margin-top: 1px;
  transition: max-height 0.4s ease, opacity 0.3s ease;
  z-index: 10;
}

.custom-dropdown.open .dropdown-options {
  max-height: 300px; 
  opacity: 1;
}

.dropdown-options li {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.2s ease;
}

.dropdown-options li:hover {
  color: var(--c-white);
  background-color: var(--c-blk);
}

.btn-submit {
  width: fit-content;
  color: var(--c-white);
  text-transform: uppercase;
  border: none;
  padding: 8px 15px;
  margin: 0 auto;
  margin-top: 10px;
  font-weight: 600;
  letter-spacing: 1px;
  background-color: var(--c-blk);
  border: 1px solid var(--c-blk);
  cursor: pointer;
  transition: border 0.3s ease;
}

.btn-submit:hover {
  border-bottom: 1px solid var(--c-yellow);
}

/* Agrupación de inputs con mensaje de error */
.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

/* Mensajes de error */
.error-msg {
  color: rgb(197, 48, 48);
  font-size: 13px;
  font-family: "Typewriter", sans-serif;
  height: 14px;
  opacity: 0;
  transition: opacity 0.4s ease;
}

/* Cuando se activa el mensaje de error */
.error-msg.show {
  opacity: 1;
}

/* Mensaje de éxito */
.success-message {
  width: 300px;
  max-width: 80%;
  padding: 2rem 1.5rem;
  position: fixed;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%) translateY(20px);
  background-color: var(--c-white);
  border: 1px solid var(--c-blk);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: opacity 0.6s ease, transform 0.6s ease;
  z-index: 100;
}

.success-message.show {
  opacity: 1;
  transform: translate(-50%, -50%) translateY(0);
  pointer-events: auto;
}

.success-message img {
  width: 100%;
  max-width: 180px;
  margin-bottom: 0.5rem;
}

.msm-div {
  padding: 10px;
  background-color: var(--c-white);
}

.success-message p {
  font-family: "Typewriter", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: var(--c-blk);
  text-transform: uppercase;
  letter-spacing: 1px;
}
