.faq-section {
  width: 100%;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.faq-container {
  max-width: 1100px;
  text-align: left;
  color: var(--c-blk);
  padding: 1.2rem;
  margin-bottom: 10px;
  background-color: var(--c-white);
}

.faq-title {
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1rem;
  display: inline-block;
}

.faq-container h5 {
  font-family: "Typewriter", sans-serif;
  font-size: 13px;
  margin-bottom: 2px;
  line-height: 1.6;
}

.faq-container p {
  font-family: "Typewriter", sans-serif;
  font-size: 13px;
  margin-bottom: 20px;
  line-height: 1.6;
}

.faq-container strong {
  font-weight: 700;
}

.faq-item {
  margin-bottom: 20px;
}

.faq-btn-div {
  width: 100%;
  max-width: 600px;
  padding: 0 20px;
  text-align: left;
}
